################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XMLCodeGenerator/FileContentIndex
/.vs/XMLCodeGenerator/v17
/XMLCodeGenerator/obj/Debug/net8.0-windows
/XMLCodeGenerator/bin/Debug/net8.0-windows/XMLCodeGenerator.dll
/XMLCodeGenerator/bin/Debug/net8.0-windows/XMLCodeGenerator.exe
/XMLCodeGenerator/bin/Debug/net8.0-windows/XMLCodeGenerator.pdb
/XMLCodeGenerator/obj/Debug/net8.0-windows/ref/XMLCodeGenerator.dll
/XMLCodeGenerator/obj/Debug/net8.0-windows/refint/XMLCodeGenerator.dll
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/Attributes/AttributeContainer.g.i.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/AddChildElementWindow.g.i.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.AssemblyInfo.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.AssemblyInfoInputs.cache
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.dll
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.g.resources
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.pdb
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.sourcelink.json
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator_MarkupCompile.lref
/XMLCodeGenerator/bin/Debug/net8.0-windows/XMLCodeGenerator.dll
/XMLCodeGenerator/bin/Debug/net8.0-windows/XMLCodeGenerator.exe
/XMLCodeGenerator/bin/Debug/net8.0-windows/XMLCodeGenerator.pdb
/XMLCodeGenerator/obj/Debug/net8.0-windows/ref/XMLCodeGenerator.dll
/XMLCodeGenerator/obj/Debug/net8.0-windows/refint/XMLCodeGenerator.dll
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/Attributes/AttributeContainer.g.i.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/AddChildElementWindow.g.i.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/ElementUserControl.baml
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/ElementUserControl.g.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/ElementUserControl.g.i.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/apphost.exe
/XMLCodeGenerator/obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/MainWindow.g.cs
/XMLCodeGenerator/obj/Debug/net8.0-windows/MainWindow.baml
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator.csproj.CoreCompileInputs.cache
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator_MarkupCompile.cache
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator_MarkupCompile.i.cache
/XMLCodeGenerator/obj/Debug/net8.0-windows/XMLCodeGenerator_MarkupCompile.i.lref
*.v2
/XMLCodeGenerator/obj/XMLCodeGenerator_br4ak4ye_wpftmp.csproj.nuget.dgspec.json
/XMLCodeGenerator/obj/XMLCodeGenerator_br4ak4ye_wpftmp.csproj.nuget.g.props
/XMLCodeGenerator/obj/XMLCodeGenerator_br4ak4ye_wpftmp.csproj.nuget.g.targets
/XMLCodeGenerator/obj
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/AddChildElementWindow.baml
/XMLCodeGenerator/obj/Debug/net8.0-windows/View/AddChildElementWindow.g.cs
